streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-experimental==0.0.64
pandas
faiss-cpu
# openai (Removed)
# langchain-openai (Removed)
tabulate
requests
transformers
torch
accelerate
datasets
sentencepiece
soundfile
huggingface_hub
kokoro>=0.3.4
phonemizer
pydub
loguru
